.topnav {
	overflow: hidden;
	background-color: #111;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/*this changes the colour for the buttons in the topnav when the mouse hovers on them*/

.topnav a:hover {
	background-color: #ff8c8c;
	color: black;
}

/*this changes the colour for the buttons in the topnav when they are active*/

.topnav a.active {
	background-color: #ff0000;
	color: white;
}

/*this is the style for the first sidenav*/

.sidenav {
	height: 100%;
	width: 350px;
	position: absolute;
	z-index: 1;
	top: 300;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 10px;
	margin-left: 8px;
	margin-top: -150px;
}

.sidenav a {
	font-family: 'Merriweather', serif;
	padding: 0px 8px 10px 16px;
	text-decoration: none;
	font-size: 21px;
	color: #818181;
	display: block;
}

/*this changes the colour for the playlists in the sidenav when the mouse hovers on them*/

.sidenav a:hover {
	color: #f1f1f1;
}

/*this is the style for the first sidenav, identical to the first except moved over to have a nicely spaced out website*/

.sidenav2 {
	height: 100%;
	width: 350px;
	position: absolute;
	z-index: 1;
	top: 300;
	left: 370;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 10px;
	margin-left: 8px;
	margin-top: -150px;
}

.sidenav2 a {
	font-family: 'Merriweather', serif;
	padding: 0px 8px 10px 16px;
	text-decoration: none;
	font-size: 21px;
	color: #818181;
	display: block;
}

.sidenav2 a:hover {
	color: #f1f1f1;
}

.playbutton {
	width: 20px;
	height: 20px;
	border-style: solid;
	box-sizing: border-box;
	border-width: 10px 0px 10px 20px;
	border-color: transparent transparent transparent #202020;
}

.songinfo {
	padding: -10px 0px 0px 0px;
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	margin-left: 100px;
}

.search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.search-container button:hover {
	background: #ccc;
}

.title {
	font-family: 'Crimson Text', serif;
	font-size: 24px;
	text-align: center;
	margin-top: -10px;
}

.subtitle {
	font-family: 'Crimson Text', serif;
	font-size: 24px;
	text-align: center;
}

.searchBar {
	margin-bottom: 10px;
}

.mainpics {
	display: block;
}

/*.music {
	display: block;
}*/