body {
  font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Merriweather|Source+Sans+Pro');

.title {
	font-family: 'Crimson Text', serif;
	font-size: 24px;
	margin-top: 0px;
	text-align: center;
	padding-left: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-left: 300px;
}

.subtitle {
	font-family: 'Crimson Text', serif;
	font-size: 20px;
	margin-top: 0px;
	text-align: center;
	padding-left: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-left: 300px;
}

.main {
	font-family: 'Crimson Text', serif;
	margin-left: 0px;
	font-size: 16px;
	padding: 0px 0px;
	margin-left: 300px;
}

.vanillatext {
	font-size: 13px;
	margin-top: 0px;
	text-align: left;
	padding-left: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-left: 300px;
}

.sidenav {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 0px;
	margin-left: 0px;
}

.sidenav a {
	font-family: 'Merriweather', serif;
	padding: 0px 8px 10px 16px;
	text-decoration: none;
	font-size: 21px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}